<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/html">
<head>
    <title>Test style</title>
    <link rel="stylesheet" href="./public/css/style-main.css">
    <script defer src="public/js/animation.js"></script>
</head>
<body>
{{{body}}}
</body>
</html>